@{ 
    ViewData["Title"] = "Error";
}
<div class="container text-center mt-4">
    <h2>You need to create at least one region and type before adding a new Pokémon</h2>
    <a class="btn btn-outline-primary" asp-controller="Pokemon" asp-action="PokemonListView">Go back</a>
</div>
