@model Application.ViewModels.SavePokemonViewModel
@{
    bool isEdit = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Save Pokémon";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h2>@(isEdit ? $"Update {Model.Name}'s information" : "Create new Pokémon")</h2>
                </div>

                <div class="card-body">
                    <form method="post" asp-controller="Pokemon" asp-action="@(isEdit ? "Update" : "Create")">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name:</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ImgUrl" class="form-label">Image:</label>
                            <input type="text" asp-for="ImgUrl" class="form-control" placeholder="https://examplePage/example.jpg" />
                            <span asp-validation-for="ImgUrl" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RegionId" class="form-label">Region:</label>
                            <select class="form-select" asp-for="RegionId">
                                <option selected>Select region</option>
                                <option value="1">Kanto</option>
                                <option value="2">Unova</option>
                                <option value="3">Johto</option>
                                <option value="4">Kalos</option>
                            </select>
                            <span asp-validation-for="RegionId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="PrimaryTypeId" class="form-label">Primary Type:</label>
                            <select class="form-select" asp-for="PrimaryTypeId">
                                <option selected>Select type</option>
                                <option value="1">Water</option>
                                <option value="2">Fire</option>
                                <option value="3">Earth</option>
                                <option value="4">Grass</option>
                            </select>
                            <span asp-validation-for="PrimaryTypeId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="SecondaryTypeId" class="form-label">Secondary Type:</label>
                            <select class="form-select" asp-for="SecondaryTypeId">
                                <option selected>Select type</option>
                                <option value="1">Water</option>
                                <option value="2">Fire</option>
                                <option value="3">Earth</option>
                                <option value="4">Grass</option>
                            </select>
                            <span asp-validation-for="SecondaryTypeId" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id"/>

                        <button type="submit" class="btn btn-outline-primary">Save</button>
                        <a asp-controller="Pokemon" asp-action="PokemonListView" class="btn btn-outline-danger">Go back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
